@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #050315;
  background-color: #fbfbfe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2f27ce;
  text-decoration: inherit;
}
a:hover {
  color: #433bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #050315;
  background: #fbfbfe;
}

h1, h2, h3, h4, h5, h6 {
  color: #2f27ce;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #433bff;
  color: #fbfbfe;
  cursor: pointer;
  transition: border-color 0.25s, background 0.25s;
}
button:hover {
  border-color: #2f27ce;
  background: #2f27ce;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, textarea, select {
  background: #dedcff;
  color: #050315;
  border: 1px solid #2f27ce;
  border-radius: 6px;
  padding: 0.5em 1em;
}
input:focus, textarea:focus, select:focus {
  outline: 2px solid #433bff;
  border-color: #433bff;
}

.table-header {
  background: #dedcff;
  color: #2f27ce;
}
.table-row {
  background: #fbfbfe;
  color: #050315;
}
.table-row-alt {
  background: #dedcff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #050315;
    background-color: #fbfbfe;
  }
  a:hover {
    color: #433bff;
  }
  button {
    background-color: #433bff;
    color: #fbfbfe;
  }
}
